<div class="each-comment" id="comment-<%= comment.id %>">
    <div class='comment-bubble'>
        <div class='comment-user-name'><%= comment.user.name %></div>
        <div class='comment-user-content'><%= comment.content %></div>
    </div>
    <% if(locals.user && comment.user.id==locals.user.id){ %>
    <a href="/comment/destroy/<%= comment.id %>" class="delete-comment-btn"><i class="fas fa-window-close"></i></a>
    <%}%>
</div>
    

    

