<link rel="stylesheet" href="/css/home.css">
<div id="home-variable">
    <div id="home-header">
        <h1>Welcome to our website</h1>
    </div>
    <div id="sign-up-btn">
        <a href="/user/sign-up"><button id="btn">Sign Up</button></a>
    </div>
</div>


        