<link rel="stylesheet" href="/css/signup.css">
<div id="sign-up-variable">
    <div id="sign-up-container">
        <form action="/user/create" method="POST" id="sign-up-form">
            <h1>Sign Up</h1>
            <table>
                <tr>
                    <th>Email</th> 
                    <td><input type="text" name="email" placeholder="Enter email" required></td>
                </tr>
                <tr>
                    <th>Password</td>
                    <td><input type="password" name="password" placeholder="Enter Password" required></td>
                </tr>
                <tr>
                    <th>Name</td>
                    <td><input type="text" name="name" placeholder="Enter Name" required></td>
                </tr>
                
            </table>
            <input type="submit" value="Sign in" id="submit-btn">
        </form>
    </div>
</div>

