<link rel="stylesheet" href="/css/signin.css">
<div id="sign-in-variable">
    <div id="container">
        <h1>Sign In</h1>
        <form action="create-session" method="POST">
            <div class="row"><input type="text" name="email" placeholder="Email"></div>
            <div class="row"><input type="password" name="password" placeholder="Password"></div>
            <div class="btn-row"><input type="submit" value="Sign In" id="submit-btn"> </div>
        </form>
    </div>
</div>