#home-variable{
    display:flex;
    width:100%;
    overflow: scroll;
}
#left-side{
    width:20%;
    h3{
        margin-left:10%;
        margin-bottom: 50px;
    }
    a{
        text-decoration: none;
    }
    a:visited{
        color:black;
    }
    a:hover{
        color:lightgrey;
    }
    border-right: 2px solid lightgrey;
}
#friends-list{
    width:60%;
    margin:10%;
}
#mid-side{
    display:flex;
    flex-direction: column;
    height:100vh;
    width:60%;
    align-items: center;
    border-right: 2px solid lightgrey;
    overflow: scroll;
}
#post-submit-btn{
    display: block;
    width:80px;
    padding: 5px;
    font-size: 15px;
    margin:auto;
    margin-top: 10px;
}
#post-container{
    display:flex;
    flex-direction: column;
    padding:10px;
    width:60%;
}

.each-post{
    box-shadow: 0 0 4px lightgrey;
    margin-bottom:12px;
    border-radius:7px;
    .each-post-content{
        // border-bottom:1px solid lightgrey;
        word-wrap: break-word;
        padding:15px;
        .each-post-header{
            display:flex;
            justify-content: space-between;
            align-items: flex-start;
            h3{
                margin-top:10px;
            }
            .delete-post-btn{
                color:red;
            }
        }
    }
}

.count-bar-container{
    display:flex;
    padding:8px 60px;
    border-top: 1px lightgrey solid;
    font-size: 13px;
    .like-count{
        width:50%;
    }
    .comment-count{
        width:50%;
        display: flex;
        flex-direction: row-reverse;
    }
}

.actions-container{
    margin:0 15px 15px 15px;
    padding:15px 0 0 0;
    border-top:1px solid lightgrey;
    .actions-bar{
        display:flex;
        text-align: center;
        a{
            width:100%;
            i{
                color:grey;
            }
        }
        .actions-btn{
            border:none;
            padding:8px;
            font-size:15px;
            width:100%;
        }

        .actions-btn:hover{
            background-color:lightgrey;
        }
    }
    .post-comment{
        display:none;
        margin-top:20px;
        form{
            .comment-form-content{
                display:flex;

                textarea{
                    resize:none;
                    padding:8px;
                    // border-radius: 15px;
                    width:100%;
                    border:none;
                    border-bottom:1px solid black;
                    font-size: 15px;
                }
                textarea:focus{
                    outline:none;
                    border-bottom:1px solid lightgrey;
                }
                
            }
            .submit-comment-form-btn{
                border:none;
                padding:5px;
            }
        }
    }
    .comment-container{
        display:none;
        margin-top:10px;
        .each-comment{
            display: flex;
            margin-bottom:5px;
            align-items: center;
            .comment-bubble{
                background-color: whitesmoke;
                border-radius:15px;
                padding:10px;
                margin-right:10px;
                max-width:80%;
                
                
                .comment-user-name{
                    font-size: small;
                }
                .comment-user-content{
                    font-size: medium;
                    word-wrap: break-word;
                }
            }
            .delete-comment-btn{
                color:red;
            }
            
        }
    }
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
    #left-side{
        width:30%;
    }
    #mid-side{
      width:70%;
      border-right: none;
    }
    #post-container{
        width:70%;
    }
  }
  
  /* On screens that are 600px or less, set the background color to olive */
  @media screen and (max-width: 600px) {
    #home-variable{
        justify-content: center;
    }
    #left-side{
        display:none;
    }
    #mid-side{
        width:100%;
        border-right: none;
    }
    #post-container{
        width:90%;
    }
  }




