#home-variable{
    display:flex;
    flex-direction: column;
    height:100%;
    width:100%;
    justify-content:space-around;
}
#home-header{
    text-align:center;
}
#sign-up-btn{
    text-align:center;
}
#sign-up-btn #btn{
    width:100px;
    padding:8px;
    margin:10px;
    border:1px solid lightgrey ;
}
